Repository MTES-MCT/monitorenv, pull requests merged in 2024-03, with the labels that each got.

#1198 [Mission] Pré-remplir une infraction avec les données du signalement
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/entities/mission/envAction/envActionControl/infraction/InfractionEntity.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/entities/mission/envAction/envActionControl/infraction/VesselSizeEnum.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/inputs/missions/MissionEnvActionControlInfractionDataInput.kt
  backend/src/main/resources/db/migration/internal/V0.116__update_infraction_vessel_size_type.sql
  backend/src/main/resources/db/testdata/V666.10__insert_dummy_env_actions.sql
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/bff/LegacyMissionsITests.kt
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/infrastructure/database/repositories/JpaMissionRepositoryITests.kt
  frontend/cypress/e2e/side_window/mission_form/attach_actions_to_reportings_in_mission.spec.ts
  frontend/cypress/e2e/side_window/mission_form/delete_mission.spec.ts
  frontend/cypress/e2e/side_window/mission_form/mission_actions.spec.ts
  frontend/src/domain/entities/missions.ts
  frontend/src/features/missions/MissionForm/ActionCards/ReportingCard.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/InfractionForm/InfractionForm.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/InfractionForm/InfractionFormHeaderVehicle.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/InfractionForm/VesselSizeSelector.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/InfractionForm/VesselTypeSelector.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/InfractionsForm.tsx
  frontend/src/features/missions/MissionForm/Schemas/Infraction.ts
  frontend/src/features/missions/Missions.helpers.ts
Labels: feat. enhancement

#1247 [Mission] Ajout d'un fond blanc sur le formulaire lorsque le warning d'une unité déjà en cours de mission est visible
  frontend/cypress/e2e/side_window/mission_form/main_form.spec.ts
  frontend/src/domain/use_cases/missions/cancelCreateAndRedirectToFilteredList.ts
  frontend/src/domain/use_cases/missions/deleteTab.ts
  frontend/src/features/Reportings/index.tsx
  frontend/src/features/missions/MissionForm/ControlUnitsForm/ControlUnitWarningMessage.tsx
  frontend/src/features/missions/MissionForm/index.tsx
Labels: feat. enhancement

#1243 [Tech] Résolution du souci de communication entre Env et fish pour la suppression de mission
  Makefile
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/CanDeleteMission.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/DeleteMission.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/monitorfish/APIMissionActionsRepository.kt
  frontend/cypress/e2e/constants.ts
  frontend/cypress/e2e/side_window/mission_form/delete_mission.spec.ts
  frontend/cypress/mappings/geoserver/administrative-zone.json
  frontend/cypress/mappings/geoserver/regulatory-metadata.json
  frontend/cypress/mappings/geoserver/regulatory-search-bbox.json
  frontend/cypress/mappings/geoserver/regulatory-search.json
  frontend/cypress/mappings/monitorfish/get-mission_actions.v1.json
  frontend/src/api/missionsAPI.ts
  frontend/src/features/missions/MissionForm/MissionForm.tsx
  infra/configurations/backend/application-dev.properties
  infra/configurations/backend/application-prod.properties
  infra/configurations/backend/application-test.properties
  infra/docker/docker-compose.dev.yml
  infra/docker/docker-compose.test.yml
  infra/docker/docker-compose.yml
Labels: bug

#1246 [Signalement] Possibilité de cliquer sur la carte de la mission dans le formulaire de signalement pour ouvrir la fiche mission
  frontend/src/api/missionsAPI.ts
  frontend/src/domain/entities/missions.ts
  frontend/src/features/Reportings/ReportingForm/AttachMission/AttachedMissionCard.tsx
Labels: feat. enhancement

#1255 Suppression des doublons d'actions dans le vues `analytics`
  backend/src/main/resources/db/migration/internal/V0.117__update_analytics_views_with_new_themes.sql
Labels: bug, data

#1250 [Tech] Résolution du souci qui empêchait les erreurs de remonter dans Sentry
  frontend/src/index.tsx
Labels: bug

#1251 [Tech] mise à jour OpenLayers
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/googlePlacesAPI/googlePlacesAPI.ts
  frontend/src/features/Reportings/Layers/MissionToAttach/index.tsx
  frontend/src/features/map/layers/DrawLayer.ts
  frontend/src/features/map/layers/InterestPointLayer.tsx
  frontend/src/features/map/layers/MapLayer.tsx
  frontend/src/features/map/layers/MeasurementLayer.tsx
  frontend/src/features/map/layers/Missions/index.tsx
  frontend/src/features/map/layers/Reportings/index.tsx
  frontend/src/features/map/layers/Semaphores/index.ts
  frontend/src/features/map/layers/styles/interestPoint.style.ts
  frontend/src/features/missions/Layers/ReportingToAttach/index.tsx
  frontend/src/types.ts
Labels: tech. enhancement

#1245 [Couches Administratives] Ajout des façades et ajustement des styles
  backend/src/main/resources/db/migration/layers/V0.118__facade_areas_unextended.sql
  datascience/src/pipeline/flows/facade_areas.py
  datascience/src/pipeline/flows/facade_areas_unextended.py
  datascience/src/pipeline/queries/cross/cnsp/facade_areas_unextended.sql
  datascience/src/pipeline/queries/monitorfish/facade_areas.sql
  datascience/src/pipeline/shared_tasks/facades.py
  frontend/src/domain/entities/administrativeLayers.ts
  frontend/src/domain/entities/layers/constants.ts
  frontend/src/features/layersSelector/base/index.tsx
  frontend/src/features/map/layers/styles/administrativeAndRegulatoryLayers.style.ts
  infra/init/geoserver_init_layers.sh
  infra/init/postgis_insert_layers.sh
Labels: feat. enhancement, new feature

#1258 [Mission] Amélioration du style du formulaire et ajout de l'astérisque sur tous les champs obligatoires (ouverture + clôture)
  frontend/cypress/e2e/side_window/mission_form/close_mission_validation.spec.ts
  frontend/cypress/e2e/side_window/mission_form/main_form.spec.ts
  frontend/cypress/e2e/side_window/mission_form/mission_actions.spec.ts
  frontend/cypress/e2e/side_window/mission_form/mission_dates_validation.spec.ts
  frontend/cypress/e2e/utils/createMissionWithAttachedReportingAndAttachedAction.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/commonComponents/TargetSelector/index.tsx
  frontend/src/features/commonComponents/VehicleTypeSelector/index.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/InfractionForm/InfractionForm.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/InfractionForm/NatinfSelector.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/InfractionForm/RelevantCourtSelector.jsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/index.tsx
  frontend/src/features/missions/MissionForm/ActionForm/SurveillanceForm.tsx
  frontend/src/features/missions/MissionForm/ActionForm/Themes/ThemeSelector/SubThemesSelector.tsx
  frontend/src/features/missions/MissionForm/ActionForm/Themes/ThemeSelector/index.tsx
  frontend/src/features/missions/MissionForm/ControlUnitsForm/ControlUnitSelector.tsx
  frontend/src/features/missions/MissionForm/GeneralInformationsForm.tsx
  frontend/src/features/missions/MissionForm/MissionFormBottomBar.tsx
  frontend/src/features/missions/MissionForm/Schemas/Infraction.ts
  frontend/src/features/missions/MultiPointPicker.tsx
  frontend/src/features/missions/MultiZonePicker.tsx
  frontend/src/utils/getDateAsLocalizedString.tsx
Labels: feat. enhancement

#1274 [Thèmes] Amélioration des filtres thèmes et sous-thèmes dans les vues listes + Résolution du bug de tri des signalements pas thèmes
  frontend/cypress/e2e/side_window/mission_list/filters.spec.ts
  frontend/cypress/e2e/side_window/mission_list/missions.spec.ts
  frontend/cypress/e2e/side_window/reporting/filters.spec.ts
  frontend/src/components/CustomGlobalStyle.ts
  frontend/src/features/Reportings/Filters/Table/index.tsx
  frontend/src/features/Reportings/Filters/index.tsx
  frontend/src/features/Reportings/ReportingsList/Columns/index.tsx
  frontend/src/features/Reportings/ReportingsList/ReportingsTable.tsx
  frontend/src/features/missions/MissionsList/Filters/index.tsx
  frontend/src/hooks/useGetControlPlansByYear.ts
Labels: bug

#1260 [Mission] Pré-remplir la zone de mission avec la zone ou le point de la dernière action
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/entities/mission/envAction/EnvActionSurveillanceEntity.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/entities/mission/envAction/EnvActionSurveillanceProperties.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/CreateOrUpdateEnvActions.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/inputs/missions/CreateOrUpdateMissionDataInput.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/inputs/missions/MissionEnvActionDataInput.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/outputs/missions/MissionDataOutput.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/outputs/missions/MissionEnvActionSurveillanceDataOutput.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/outputs/missions/MissionsDataOutput.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/publicapi/outputs/MissionEnvActionSurveillanceDataOutput.kt
  backend/src/main/resources/db/migration/internal/V0.119__update_surveillances-zone-with-mission-zone.sql
  backend/src/main/resources/db/migration/internal/v0.120__update_analytics_surveillance_density_map_view.sql
  backend/src/main/resources/db/testdata/V0.071.0__dummy_mission_for_migration.sql
  backend/src/main/resources/db/testdata/V666.10__insert_dummy_env_actions.sql
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/bff/LegacyMissionsITests.kt
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/inputs/missions/CreateOrUpdateMissionDataInputUTests.kt
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/inputs/missions/MissionEnvActionDataInputUTests.kt
  datascience/tests/test_data/remote_database/V666.3__insert_dummy_env_actions.sql
  frontend/cypress/e2e/side_window/mission_form/close_mission_validation.spec.ts
  frontend/cypress/e2e/side_window/mission_form/main_form.spec.ts
  frontend/cypress/e2e/side_window/mission_form/mission_zone.spec.ts
  frontend/public/Control.svg
  frontend/public/Control_filled.svg
  frontend/src/components/CustomGlobalStyle.ts
  frontend/src/domain/entities/missions.ts
  frontend/src/domain/use_cases/missions/saveMission.ts
  frontend/src/features/Reportings/Layers/MissionToAttach/SelectedMissionToAttachLayer.tsx
  frontend/src/features/Reportings/Layers/MissionToAttach/style.ts
  frontend/src/features/Reportings/Overlays/MissionToAttach/index.tsx
  frontend/src/features/layersSelector/base/index.tsx
  frontend/src/features/map/controls/MapCoordinatesBox.tsx
  frontend/src/features/map/layers/Missions/EditingMissionLayer.ts
  frontend/src/features/map/layers/Missions/HoveredMissionLayer.ts
  frontend/src/features/map/layers/Missions/SelectedMissionLayer.ts
  frontend/src/features/map/layers/Missions/index.tsx
  frontend/src/features/map/layers/Missions/missionGeometryHelpers.ts
  frontend/src/features/map/layers/Missions/missions.style.ts
  frontend/src/features/map/layers/Reportings/style.ts
  frontend/src/features/map/overlays/OverlayPositionOnCentroid.tsx
  frontend/src/features/map/overlays/OverlayPositionOnExtent.tsx
  frontend/src/features/map/overlays/missions/MissionCard.tsx
  frontend/src/features/map/overlays/missions/index.tsx
  frontend/src/features/map/overlays/reportings/index.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/MultiPointPicker.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/index.tsx
  frontend/src/features/missions/MissionForm/ActionForm/SurveillanceForm/SurveillanceZonePicker.tsx
  frontend/src/features/missions/MissionForm/ActionForm/SurveillanceForm/index.tsx
  frontend/src/features/missions/MissionForm/ActionsForm.tsx
  frontend/src/features/missions/MissionForm/GeneralInformationsForm.tsx
  frontend/src/features/missions/MissionForm/MissionZonePicker.tsx
  frontend/src/features/missions/MissionForm/Schemas/Surveillance.ts
  frontend/src/features/missions/MissionForm/Schemas/index.ts
  frontend/src/features/missions/MissionForm/constants.ts
  frontend/src/features/missions/MissionForm/hooks/useUpdateMissionZone.ts
  frontend/src/features/missions/Missions.helpers.ts
  frontend/src/features/missions/Overlays/ReportingToAttach/index.tsx
Labels: feat. enhancement

#1278 [Mission] Affichage des actions Fish dans la timeline du formulaire de mission
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/entities/mission/monitorfish/MonitorFishActionTypeEnum.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/entities/mission/monitorfish/MonitorFishMissionActionEntity.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/GetFullMissionById.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/dtos/MissionDTO.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/outputs/missions/MissionDataOutput.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/monitorfish/adapters/MonitorFishMissionActionDataInput.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/monitorfish/adapters/MonitorFishMissionActionDataOutput.kt
  frontend/.env.example
  frontend/cypress/e2e/side_window/mission_form/mission_actions.spec.ts
  frontend/cypress/mappings/monitorfish/get-mission_actions.53.json
  frontend/cypress/mappings/monitorfish/get-mission_actions.json
  frontend/src/domain/entities/missions.ts
  frontend/src/domain/entities/reporting.ts
  frontend/src/domain/use_cases/missions/editMissionInLocalStore.ts
  frontend/src/features/Reportings/ReportingForm/AttachMission/AttachedMissionCard.tsx
  frontend/src/features/map/overlays/missions/MissionCard.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/index.tsx
  frontend/src/features/missions/MissionForm/ActionForm/NoteForm.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ReportingForm/index.tsx
  frontend/src/features/missions/MissionForm/ActionForm/SurveillanceForm/index.tsx
  frontend/src/features/missions/MissionForm/ActionForm/style.ts
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/EnvActions/ControlCard.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/EnvActions/NoteCard.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/EnvActions/ReportingCard.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/EnvActions/ReportingHistory.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/EnvActions/SurveillanceCard.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/EnvActions/index.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/FishActions/AirControlCard.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/FishActions/AirSurveillanceCard.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/FishActions/LandControlCard.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/FishActions/ObservationsCard.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/FishActions/SeaControlCard.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/FishActions/index.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/index.tsx
  frontend/src/features/missions/MissionForm/ActionsTimeLine/ActionCard/style.ts
  frontend/src/features/missions/MissionForm/ActionsTimeLine/index.tsx
  frontend/src/features/missions/MissionForm/AttachReporting/index.tsx
  frontend/src/features/missions/MissionForm/GeneralInformationsForm.tsx
  frontend/src/features/missions/MissionForm/MissionForm.tsx
  frontend/src/features/missions/MissionForm/style.ts
  frontend/src/features/missions/Missions.helpers.ts
  frontend/src/features/missions/MissionsList/CellEditMission.tsx
  frontend/src/features/missions/fishActions.types.ts
  frontend/src/ui/Italic.ts
Labels: new feature

#1291 [Reporting] Résolution du bug sur le tri des signalements par thématique
  frontend/src/features/Reportings/ReportingsList/Columns/index.tsx
Labels: bug

#1294 [Mission] Mise à jour de la zone de contrôle sur la carte
  frontend/cypress/e2e/side_window/mission_form/mission_zone.spec.ts
  frontend/src/domain/entities/missions.ts
  frontend/src/features/map/layers/Missions/missionGeometryHelpers.ts
  frontend/src/features/map/layers/Missions/missions.style.ts
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/MultiPointPicker.tsx
  frontend/src/features/missions/MissionForm/hooks/useUpdateMissionZone.ts
Labels: feat. enhancement
