Repository MTES-MCT/monitorenv, pull requests merged in 2024-02, with the labels that each got.

#1158 [Signalement] Ajout d'un bouton radio "Pas de réponse VHF"
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/entities/reporting/ReportingEntity.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/inputs/CreateOrUpdateReportingDataInput.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/outputs/AttachedReportingDataOutput.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/outputs/reportings/ReportingDataOutput.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/outputs/reportings/ReportingsDataOutput.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/bff/v1/Reportings.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/database/model/ReportingModel.kt
  backend/src/main/resources/db/migration/internal/V0.115__add_with_vhf_answer_to_reportings.sql
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/bff/ReportingsITests.kt
  frontend/cypress/e2e/main_window/reporting/create_reporting.spec.ts
  frontend/cypress/e2e/side_window/mission_form/main_form.spec.ts
  frontend/cypress/e2e/side_window/mission_list/missions_navigation.spec.ts
  frontend/src/domain/entities/reporting.ts
  frontend/src/domain/shared_slices/reporting.ts
  frontend/src/features/Reportings/ReportingForm/FormComponents/Footer.tsx
  frontend/src/features/Reportings/ReportingForm/FormComponents/ThemeSelector/index.tsx
  frontend/src/features/Reportings/ReportingForm/FormContent.tsx
  frontend/src/features/Reportings/index.tsx
  frontend/src/features/SideWindow/SideWindowLauncher.tsx
  frontend/src/features/missions/MissionForm/CancelEditModal.tsx
  frontend/src/features/missions/MissionForm/DeleteModal.tsx
  frontend/src/features/missions/MissionForm/MissionForm.tsx
  frontend/src/features/missions/MissionForm/ReopenModal.tsx
  frontend/src/hooks/useGetControlPlansByYear.ts
  frontend/src/typings/index.d.ts
Labels: feat. enhancement

#1182 [Tech] Réduction des appels api à l'ouverture de l'application
  frontend/cypress/e2e/main_window/interest_point.spec.ts
  frontend/package-lock.json
  frontend/src/api/missionsAPI.ts
  frontend/src/features/Reportings/Layers/MissionToAttach/SelectedMissionToAttachLayer.tsx
  frontend/src/features/Reportings/Layers/MissionToAttach/index.tsx
  frontend/src/features/map/layers/Missions/SelectedMissionLayer.ts
  frontend/src/features/missions/Layers/ReportingToAttach/index.tsx
  frontend/src/features/missions/MissionForm/ControlUnitsForm/ControlUnitSelector.tsx
Labels: tech. enhancement

#1193 [Tech] Configure les paths dans tsconfig
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/tsconfig.json
Labels: tech. enhancement

#1195 [Tech] Remplace les opérateurs nullish coalescing manquants
  frontend/src/components/ToastNotification.tsx
  frontend/src/domain/use_cases/draw/drawGeometry.ts
  frontend/src/domain/use_cases/interestPoint/saveInterestPointFeature.ts
  frontend/src/features/Administration/components/AdministrationForm/index.tsx
  frontend/src/features/ControlUnit/components/ControlUnitDialog/ControlUnitContactList/index.tsx
  frontend/src/features/ControlUnit/components/ControlUnitDialog/ControlUnitResourceList/index.tsx
  frontend/src/features/ControlUnit/components/ControlUnitForm/index.tsx
  frontend/src/features/ControlUnit/components/ControlUnitListDialog/FilterBar.tsx
  frontend/src/features/Reportings/Filters/index.tsx
  frontend/src/features/Reportings/ReportingForm/AttachMission/index.tsx
  frontend/src/features/Reportings/ReportingForm/FormComponents/Source.tsx
  frontend/src/features/Reportings/ReportingForm/FormComponents/ThemeSelector/SubThemesSelector.tsx
  frontend/src/features/Reportings/ReportingForm/FormComponents/Validity.tsx
  frontend/src/features/Reportings/ReportingForm/Header.tsx
  frontend/src/features/Reportings/ReportingForm/index.tsx
  frontend/src/features/Reportings/ReportingsList/ReportingsTable.tsx
  frontend/src/features/Reportings/hooks/useGetFilteredReportingsQuery.ts
  frontend/src/features/Reportings/utils.tsx
  frontend/src/features/Semaphores/SearchSemaphoreButton/SearchSemaphores.tsx
  frontend/src/features/Station/components/StationLayer/index.ts
  frontend/src/features/commonComponents/Modals/MapInteraction.tsx
  frontend/src/features/layersSelector/search/ResultsList/AMPLayerGroup/AMPLayer.tsx
  frontend/src/features/layersSelector/search/ResultsList/RegulatoryLayerGroup/RegulatoryLayer.tsx
  frontend/src/features/layersSelector/utils/LayerLegend.style.tsx
  frontend/src/features/map/BaseMap.tsx
  frontend/src/features/map/layers/Missions/missionGeometryHelpers.ts
  frontend/src/features/map/layers/Reportings/style.ts
  frontend/src/features/map/tools/interestPoint/EditInterestPoint.tsx
  frontend/src/features/missions/MissionForm/ActionCards/ReportingCard.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/ControlForm.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ControlForm/InfractionCard.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ReportingForm/Validity.tsx
  frontend/src/features/missions/MissionForm/ActionForm/ReportingForm/index.tsx
  frontend/src/features/missions/MissionForm/ActionForm/SurveillanceForm.tsx
  frontend/src/features/missions/MissionsList/Filters/FilterTags.tsx
  frontend/src/features/missions/MissionsList/Filters/index.tsx
  frontend/src/features/missions/MissionsList/MissionsTable.tsx
  frontend/src/hooks/useGetControlPlans.ts
  frontend/src/hooks/useGetFilteredMissionsQuery.ts
  frontend/src/hooks/useHasMapInteraction.ts
  frontend/src/libs/FrontendError.ts
  frontend/src/utils/coordinates.ts
  frontend/src/utils/extractThemesAsText.ts
  frontend/src/utils/findMapFeatureById.ts
Labels: tech. enhancement

#1191 [Mission] Mise à jour des icônes de mission sur la carte
  frontend/public/mission/CLOSED_AIR.png
  frontend/public/mission/CLOSED_LAND.png
  frontend/public/mission/CLOSED_MULTI.png
  frontend/public/mission/CLOSED_SEA.png
  frontend/public/mission/ENDED_AIR.png
  frontend/public/mission/ENDED_LAND.png
  frontend/public/mission/ENDED_MULTI.png
  frontend/public/mission/ENDED_SEA.png
  frontend/public/mission/PENDING_AIR.png
  frontend/public/mission/PENDING_LAND.png
  frontend/public/mission/PENDING_MULTI.png
  frontend/public/mission/PENDING_SEA.png
  frontend/public/mission/UPCOMING_AIR.png
  frontend/public/mission/UPCOMING_LAND.png
  frontend/public/mission/UPCOMING_MULTI.png
  frontend/public/mission/UPCOMING_SEA.png
  frontend/src/App.css
  frontend/src/domain/entities/layers/constants.ts
  frontend/src/features/Reportings/Overlays/MissionToAttach/index.tsx
  frontend/src/features/Station/components/StationLayer/index.ts
  frontend/src/features/Station/components/StationOverlay/index.tsx
  frontend/src/features/map/layers/Missions/HoveredMissionLayer.ts
  frontend/src/features/map/layers/Missions/missions.style.ts
  frontend/src/features/map/layers/Reportings/EditingReportingLayer.tsx
  frontend/src/features/map/layers/Reportings/SelectedReporting.tsx
  frontend/src/features/map/layers/Semaphores/index.ts
  frontend/src/features/map/overlays/OverlayPositionOnCentroid.tsx
  frontend/src/features/map/overlays/OverlayPositionOnExtent.tsx
  frontend/src/features/map/overlays/actions/index.tsx
  frontend/src/features/map/overlays/missions/index.tsx
  frontend/src/features/map/overlays/reportings/index.tsx
  frontend/src/features/map/overlays/semaphores/index.tsx
  frontend/src/features/missions/Overlays/ReportingToAttach/index.tsx
  frontend/src/uiMonitor/ol-override.css
Labels: feat. enhancement

#1162 [Mission] Afficher une pop-up lors de la suppression d'une mission si des actions ont été créées par d'autres centres
  backend/build.gradle.kts
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/config/ApiClient.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/config/MonitorfishProperties.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/config/WebSecurityConfig.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/entities/ErrorCode.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/entities/mission/monitorfish/MonitorFishMissionActionEntity.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/exceptions/BackendUsageException.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/repositories/IMonitorFishMissionActionsRepository.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/repositories/IStationRepository.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/CanDeleteMission.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/DeleteMission.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/adapters/bff/outputs/BackendUsageError.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/ControllersExceptionHandler.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/bff/v1/Missions.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/publicapi/v1/missions/Missions.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/monitorfish/APIMissionActionsRepository.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/monitorfish/adapters/MonitorFishMissionActionDataInput.kt
  backend/src/main/resources/application.properties
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/CanDeleteMissionUTests.kt
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/bff/MissionsITests.kt
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/publicapi/ApiMissionsITests.kt
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/infrastructure/monitorfish/APIMissionActionsRepositoryITests.kt
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/infrastructure/monitorfish/TestUtils.kt
  frontend/.env.example
  frontend/cypress/e2e/constants.ts
  frontend/cypress/e2e/side_window/mission_form/delete_mission.spec.ts
  frontend/cypress/e2e/side_window/mission_form/main_form.spec.ts
  frontend/cypress/e2e/utils.ts
  frontend/package-lock.json
  frontend/src/api/api.ts
  frontend/src/api/missionsAPI.ts
  frontend/src/api/types.ts
  frontend/src/features/missions/MissionForm/ExternalActionsModal.tsx
  frontend/src/features/missions/MissionForm/MissionForm.tsx
  infra/configurations/backend/application-dev.properties
  infra/configurations/backend/application-integration.properties
  infra/configurations/backend/application-prod.properties
  infra/configurations/backend/application-test.properties
  infra/docker/docker-compose.prod.yml
  infra/docker/docker-compose.test.yml
Labels: feat. enhancement

#1200 [Tech] Restaure l'ancienne action pour Get last release version in CI
  .github/workflows/cicd-app.yml
  .github/workflows/cicd-datapipeline.yml
  .github/workflows/trivy.yml
Labels: bug, tech. enhancement

#1202 [Mission] Détacher les signalements rattachés à une mission lors de sa supression
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/entities/mission/CanDeleteMissionResponse.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/CanDeleteMission.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/DeleteMission.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/bff/v1/Missions.kt
  backend/src/main/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/publicapi/v1/missions/Missions.kt
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/CanDeleteMissionUTests.kt
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/domain/use_cases/missions/DeleteMissionUTests.kt
  backend/src/test/kotlin/fr/gouv/cacem/monitorenv/infrastructure/api/endpoints/publicapi/ApiMissionsITests.kt
  frontend/cypress/e2e/back_office/control_unit_form.spec.ts
  frontend/cypress/e2e/constants.ts
  frontend/cypress/e2e/side_window/mission_form/delete_mission.spec.ts
  frontend/cypress/e2e/side_window/mission_form/main_form.spec.ts
  frontend/cypress/e2e/utils/createMissionWithAttachedReportingAndAttachedAction.ts
  frontend/cypress/e2e/utils/visitSideWindow.ts
  frontend/src/api/missionsAPI.ts
  frontend/src/features/Reportings/ReportingForm/AttachMission/index.tsx
  frontend/src/features/map/layers/Missions/missions.style.ts
  frontend/src/features/missions/MissionForm/MissionForm.tsx
Labels: feat. enhancement

#1204 [Tech] Fixe les paths dans la config Jest
  frontend/config/jest.config.js
Labels: bug, tech. enhancement

#1209 [Mission] Affichage de la date de création et de modification dans le bandeau du bas du formulaire de mission
  frontend/cypress/e2e/side_window/mission_form/close_mission_validation.spec.ts
  frontend/cypress/e2e/side_window/mission_form/main_form.spec.ts
  frontend/cypress/e2e/side_window/mission_form/mission_dates_validation.spec.ts
  frontend/src/domain/entities/missions.ts
  frontend/src/features/missions/MissionForm/AutoSaveTag.tsx
  frontend/src/features/missions/MissionForm/MissionFormBottomBar.tsx
  frontend/src/utils/timeagoFrenchLocale.ts
Labels: feat. enhancement

#1217 [Mission] Amélioration du message de création et mise à jour de la mission dans le bandeau du bas
  .github/workflows/cicd-app.yml
  frontend/cypress/e2e/side_window/mission_form/close_mission_validation.spec.ts
  frontend/cypress/e2e/side_window/mission_form/main_form.spec.ts
  frontend/cypress/e2e/side_window/mission_form/mission_actions.spec.ts
  frontend/cypress/e2e/side_window/mission_form/mission_dates_validation.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/domain/use_cases/missions/saveMission.ts
  frontend/src/features/missions/MissionForm/MissionFormBottomBar.tsx
  frontend/src/features/missions/MissionForm/index.tsx
  frontend/src/utils/timeagoFrenchLocale.ts
  infra/docker/app/Dockerfile
Labels: feat. enhancement
